# Enoki Configuration
ENOKI_PRIVATE_KEY=your_enoki_private_key_here

# Server Configuration  
PORT=3001
NODE_ENV=development

# Sui Network
SUI_NETWORK=testnet

# QEDI Smart Contract
PACKAGE_ID=0xb2d7a68d8711ceac4a5ee6c7fbec61456083d6ff20858b6d38f86c9922d02673
REGISTRY_ID=0xe37ab0f291b0b0b5e91fcfb3cefd655bb6666036fbef1062a96247dd7cd995a1
