# Enoki Configuration
ENOKI_PRIVATE_KEY=your_enoki_private_key

# Server Configuration  
PORT=3001
NODE_ENV=development

# Sui Network
SUI_NETWORK=testnet

# QEDI Smart Contract (v3 - Registry bug fixed)
PACKAGE_ID=0xb2db4954abaaf4731c9559f35f42181546f9dce8a773ef8cd81c4e29889827d5
REGISTRY_ID=0xe8cc8979e3c2254e2442d9e3292934a6d4d2caf5a0e71046e6248469e6a0c8bd
